.main {
  height: 100%;
}

.aside {
  background: #ffffff;
}

.site-layout {
  .site-layout-background {
    overflow-y: auto;
    background: #fff;
    height: 100%;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .avatar {
      margin-right: 16px;
      display: flex;
      height: 100%;
      align-items: center;

      .avatar-img {
        margin-right: 10px;
        cursor: pointer;
      }

      .user-info {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 15px 0px;

        .name {
          display: flex;
          align-items: center;
          height: 50%;
        }

        .company {
          display: flex;
          align-items: center;
          height: 50%;
        }
      }
    }
  }
}




#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}